.container {
    padding-top: 40px;
}

.title {
    display: flex;
    gap: 20px;
}

.title h1 {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;

}

.title img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile {
    margin: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    text-align: center;
}

.profile img {
    margin: auto;
    width: 180px;
    border-radius: 50%;
    display: flex;
}

.profile p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

.phone {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 50%;
    padding: 20px;
    font-size: 19px;
}

.phone p {
    margin: 15px 0 0 12px;
}

.profile button {
    border: none;
    background: none;
    background-color: #0000ff;
    border-radius: 8px;
    padding: 10px 35px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    display: flex;
}

@media (max-width: 768px) {
    .phone {
        width: 90%;
    }
}