.container {
 text-align: center;
}
.container img{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.container a{
    background-color: #1976D2;
    padding: 10px 35px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}