.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 16;
}

.modal{
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.modalContent {
    margin: 20px;
  }

.modalContent p{
    margin: 10px;
}
.modalContent button {
    margin:  10px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}
.delete {
    background-color: #ff0000 ;
    color: #fff;
}