.container {
    position: relative;
    padding: 0 16px;
}

.container table {
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
}

.container table thead {
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ccc;
}

.container table th {
    width: 25%;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
    padding: 12px 16px;
    background-color: #fff;
}

.count {
    margin: 20px 0;
}

.count p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.56;
    padding: 0 16px;
}

.container table tbody td {
    padding: 18px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.container table {
    border-collapse: collapse;
    width: 100%;
}

.container table tbody tr:hover {
    background-color: #F5F5F5
}

th:last-child {
    display: flex;
}

.opration button {
    background: none;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.opration img {
    width: 22px;
    margin-right: 20px;
}

.opration button:hover {
    filter: drop-shadow(5px 5px 7px #696969);
}

.container input {
    margin-right: 10px;
}

.groupDelete {
    width: 25px;
    margin-left: 40px;
    cursor: pointer;

}

.groupDelete:hover {
    transform: translateY(-5px);
}

.checkbox {
    margin-left: 40px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile img {
    width: 35px;
    border-radius: 50%;
}
.close{
    background: none;
    border: none;
    color: #ff0000;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width:800px) {
    .checkbox {
        margin-left: 0;
    }
}

@media (max-width : 670px) {

    .container table th {
        width: auto;
        text-align: center;
        align-items: center;
    }

    th:nth-child(1),
    th:nth-child(2),
    th:nth-child(3) {
        display: none;
    }

    th:last-child {
        width: 100%;
        border-bottom: none;
    }

    tbody tr td:nth-child(2),
    tbody tr td:nth-child(3) {
        display: none;
    }

}

